@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;500;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');


h1{
    font-family: 'Phudu', cursive;
    font-style: oblique;/*normal, italic, oblique*/
    font-weight: bolder;/*peso da font, bold, bolder 100 à 900*/
    font-size: 2em;/*Tamanho da fonte- px,%,em*/
    font-variant: small-caps; /*normal, small-caps*/
    
    color: red;/*nome da cor, hexadecimal, RGB, HSL*/

    /*Shorthand

    font: style variant weight size family

    */

    font: oblique small-caps bolder 2em 'Phudu', cursive;

    text-shadow: -2px 1px 7px blue;/*x y desfoque cor*/

}

p{
    text-indent: 20px;/*Espaçamento de primeira linha de parágrafo*/
    text-align: justify;/*center, left, right, justify*/

}



